{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "data": false,
    "INJURIES": false,
    "newData": false,
    "filterByYear": false,
    "sortYear": false,
    "sumOfValuesByInd": false,
    "sortByIndValues": false
  }
}
