@import url('https://fonts.googleapis.com/css?family=Cinzel:900');

*{
margin: 0%;
padding: 0%;
text-align: center;
box-sizing: border-box;
}

body{
    background-image: url(./imgs/background-mobile.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;

}

.container{
    width: 90%;
    height: 98vh;
    margin: 2% auto;
    padding: 2% 0%;
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

button{
    text-decoration: none;
    border: none;
    padding: 4% 6%;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 3px 5px;
    border-radius: 10px;
}

button:hover {
    background-color: rgba(248, 212, 212, 0.445)
}

.the-title{
    font-size: 3.5em;
    font-family: 'Cinzel', serif;
}

.the-phrase{
    padding: 3% 26%;
    font-size: 2em;
    margin-bottom: 5%;
}

header{
    background-color: rgba(255, 255, 255, 0.377);
    width: 95%;
    margin: 2% auto;
    align-items: center;
    justify-content: flex-start;
    height: 7vh;
    padding-left: 8%;
}

.header-title{
    font-size: 1em;
    font-family: 'Cinzel', serif;
}

.decision{
    height: 70vh;
    flex-direction: column;
    justify-content: space-around; 
    margin-top: 10%;
}

.bifurcation-phrase{
    padding: 0% 25%;
    font-size: 2em;
}

.bifurcation-buttons{
    display: flex;
    justify-content: space-around;
}

.go-to-years{
    background-image: url(./imgs/by-years.jpg);
    background-attachment: fixed;
    background-position: center;
    color: rgba(255, 255, 255);
    padding: 3% 5%;
    font-size: 1.5em;
}

.go-to-indicators{
    background-image: url(./imgs/by-indicator.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
    color: rgba(255, 255, 255);
    padding: 3% 5%;
    font-size: 1.5em;
}

.bifurcation-explications{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    font-size: 1.2em;
}

.select-section {
    
}

select {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 0 white;
    border-radius: 2px;
}

@media only screen and (min-width: 600px) {
    body{
        background-image: url(./imgs/background-tablet.jpg);
    }
}

@media only screen and (min-width: 1024px) {
    body{
        background-image: url(./imgs/background-ipadpro.jpg
    )
    }
}
